
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container {
    max-width: 960px;
    margin-left: auto;
}

#projects, #skills {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px 5px;
    justify-content:space-around;
}
#projects > div {
    display:flex;
    min-width:155px;
    height:200px;
    border:3px solid ;
    flex-basis:0;
    text-align: center;
    align-items:center;
    justify-content:center;
    

}
a {
    text-decoration: none;
    color:black
}

#projects > div:hover {
    border:3px solid darkcyan;
    
  }

img {
    margin-left: auto;
    margin-right: auto;
}